@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-semibold.ttf')  format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-bold.ttf')  format('truetype');
  font-weight: 700;
}
