{% extends "layout/base.njk" %}

{% block content %}
<ul class="breweries">
  <li>
    <h2>Avery</h2>
    <ul class="beers">
      <li>
        <h3>Avery IPA</h3>
        <p>Avery IPA features a citrusy, floral bouquet and a rich, malty finish</p>
      </li>
      <li>
        <h3>Ellie's Brown</h3>
        <p>Avery IPA features a citrusy, floral bouquet and a rich, malty finish</p>
      </li>
      <li class="add-one">
        <h2>
          <span>Add New Beer</span><!--
          --><span>+</span>
        </h2>
      </li>
    </ul>
  </li>
  <li>
    <h2>New Glarus</h2>
    <ul class="beers">
      <li>
        <h3>Spotted Cow</h3>
        <p>
          Expect this ale to be fun, fruity and satisfying.  You know you're in
          Wisconsin when you see the Spotted Cow
        </p>
      </li>
      <li>
        <h3>Serendipity</h3>
        <p>
          Serendipity is a wondrous celebration that sparkles your senses and
          dances across your palate.  A kaleidoscope of flavor discovered by
          accident in a sour ale!
        </p>
      </li>
      <li class="add-one">
        <h2>
          <span>Add New Beer</span><!--
          --><span>+</span>
        </h2>
      </li>
    </ul>
  </li>
  <li class="add-one">
    <h2>
      <span>Add Brewery</span><!--
      --><span>+</span>
    </h2>
  </li>
</ul>

{% endblock %}
