<!DOCTYPE html>
<html>
  <head>
    <title>BeerKB</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./assets/css/index.css">
  </head>

  <body>
    {% import '../macros/global.njk' as gm %}

    <div class="site-container">
      <div id="modal-backlight">
        <div id="modal-form"></div>
        <div id="modal-dialog"></div>
      </div>

      {% include '../partial/header.njk' %}

      <div id="view-{{ viewName }}">
        <script type="application/json" class="vm">
          {{ vm | dump | safe }}
        </script>

        {% block content %}{% endblock %}
      </div>
    </div>

    {% include '../partial/footer.njk' %}

    {% if isDev %}
      <script src="//localhost:35729/livereload.js"></script>
    {% endif %}
    <script src="js/index.js"></script>
  </body>

</html>
