body > footer {
  background-color: darken($secondary, 40%);
  color: $tertiary;
  text-align: center;
  opacity: 0.5;

  @include res-aware-element-spacing('margin-top', 'xl');

  a.github {
    display: inline-block;
    text-decoration: none;
  }

  .designed-by { @include res-aware-element-spacing('margin-right', 'lg'); }
  .other-credits {
    text-decoration: underline;
    @include res-aware-element-spacing('margin-left', 'lg');

    &:hover { cursor: pointer; }
  }

  .designed-by
  , .other-credits {
    display: inline-block;
    vertical-align: top;
    text-align: right;
    @include per-size(('height', 'line-height'), 84, 86, 116, 118, 118, 'px');
    @include res-aware-font-size('xs');
  }

  .octicon {
    vertical-align: top;
    @include per-size('height', 60, 60, 90, 90, 90, 'px');
    @include res-aware-element-spacing(('margin-top', 'margin-bottom'), 'sm');

    path {
      fill: $tertiary;
    }
  }
}

#modal-dialog .credits li {
  margin-bottom: 1em;
}
