form {
  input
  , textarea
  , select {
    background-color: $bright-bg;
    display: block;
    border: 1px solid $secondary;

    &:focus {
      box-shadow: 0 0 10px $secondary;
    }
  }

  input[type="text"]
  , textarea {
    width: 100%;
    font-weight: normal;
    padding: 0.4em;
  }

  textarea {
    height: 6em;
  }

  select {
    @include res-aware-element-spacing(('padding-left', 'padding-right'), 'xs');
    @include per-size(('height', 'line-height'), 30, 30, 30, 33, 33, 'px');
  }

  button {
    outline: none;
    @include res-aware-element-spacing('margin-top', 'lg');
  }

  > .label-container {
    overflow: hidden;
    margin-bottom: 4px;

    &:not(:first-child) {
      @include res-aware-element-spacing('margin-top', 'sm');
    }

    > label {
      display: block;
      float: left;
    }

    > .error {
      overflow: hidden;
      color: $error;
      display: block;
      opacity: 0;
      @include res-aware-element-spacing('padding-left', 'sm');
    }
  }
}
