form {
  > label {
    margin-bottom: 4px;
    display: inline-block;

    &:not(:first-child) {
      @include res-aware-element-spacing('margin-top', 'sm');
    }
  }

  .error {
    color: $error;
    opacity: 0;
    @include res-aware-element-spacing('margin-left', 'xs');
  }

  input
  , textarea
  , select {

    display: block;
  }

  input[type="text"]
  , textarea {

    width: 100%;
    font-weight: normal;
    padding: 0.4em;
  }

  textarea {
    height: 6em;
  }

  button {
    @include res-aware-element-spacing('margin-top', 'lg');
  }
}
