#site-container > header {
  @include res-aware-element-spacing('padding-top', 'xl');
  text-align: center;

  > svg {
    @include per-size('height', 58, 72, 80, 90, 100, px);
    display: block;
    margin-left: auto;
    margin-right: auto;
    @include res-aware-element-spacing('margin-bottom', 'lg');
  }
  > p {
    line-height: 1.1;
    font-weight: 700;
    display: inline-block;
  }
  > svg + p {
    @include res-aware-font-size('lg');
    text-transform: uppercase;
    color: $fg;
    @include res-aware-element-spacing('margin-bottom', 'lg');
  }
  > p + p {
    text-transform: none;
    color: $tertiary;
    @include res-aware-element-spacing('margin-bottom', 'xl');
  }
}
