#site-container > header {
  svg { height: 100px; }

  @include per-size('padding-top', 10, 10, 20, 30, 50, px);
  text-align: center;

  > h1, > p {
    line-height: 1;
  }

  > h1, > h1 + p {
    text-transform: uppercase;
    color: $fg;
  }

  > h1 {
    font-size: $font-xl;
    @include per-size('margin-bottom', 6, 6, 10, 20, 30, px);
  }
  > p {
    font-weight: 700;
    display: inline-block;
  }
  > h1 + p {
    font-size: $font-lg;
    @include per-size('margin-bottom', 6, 6, 10, 20, 30, px);
  }
  > p + p {
    text-transform: none;
    color: $fg-off;
    @include per-size('margin-bottom', 10, 10, 20, 30, 50, px);
  }
}
