$brewery-width: 260px;

ul[data-items="brewery"] {
  h2, h3, li {
    transition: background-color 0.2s;
  }

  h2, h3 {
    cursor: pointer;
    position: relative;
  }

  h3 {
    font-size: $font-base;
  }

  li {
    position: relative;
  }

  li.add-one > h2 > span {
    transition: background-color 0.2s;
  }

  .panel, .shadow {
    position: relative;
  }
  .panel {
    padding: 0 2px 2px;
    z-index: 0;

    > .more-data {
      padding-top: 16px;
      padding-right: 16px;
      padding-left: 16px;
    }

    > .options {
      padding: 12px 16px;

      > li {
        display: inline-block;
        text-align: center;
        padding-top: 6px;
        padding-bottom: 6px;
        border-radius: 4px;
        transition: background-color 0.2s;
        cursor: pointer;

        > svg {
          height: 32px;
        }
      }
    }
  }
  .shadow {
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  li.collapsed {
    > .panel, > .shadow {
      display: none;
    }
  }

  li > .shadow {
    height: 8px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%)
  }

  li[data-item-id] {
    overflow: hidden;
  }

  > li {
    display: inline-block;
    vertical-align: top;
    width: $brewery-width;

    > h2 {
      font-size: $font-lg;
      color: $fg;
    }

    > .more-data {
      color: $fg;
    }

    + li {
      margin-left: 20px;
    }

    > .panel {
      color: $fg;

      > ul[data-items="beer"] > li {
        + li {
          margin-top: 6px;
        }

        > h3 {
          padding: 12px;
        }

        > .panel {
          > .options > li {
            width: 45%;

            + li {
              margin-left: 10%;
            }
          }

          > .more-data {
            > * + * {
              margin-top: 8px;
            }
          }
        }
      }

      > .options > li {
        width: 28%;

        &:first-child {
          margin-left: 1%;
        }

        + li {
          margin-left: 7%;
        }

        > svg {
          fill: $fg;
        }
      }
    }

    &:not(.add-one) {
      > h2 {
        padding: 8px 12px 10px;
      }

      &:nth-child(odd) {
        @include hover($brewery-odd);

        &.collapsed > h2 {
          border: 1px solid rgba($brewery-odd, 0.5);
        }
        &:not(.collapsed) > h2 {
          border-top: 1px solid rgba($brewery-odd, 0.5);
          border-right: 1px solid rgba($brewery-odd, 0.5);
          border-left: 1px solid rgba($brewery-odd, 0.5);
        }

        > .panel {
          border-right: 1px solid rgba($brewery-odd, 0.5);
          border-bottom: 1px solid rgba($brewery-odd, 0.5);
          border-left: 1px solid rgba($brewery-odd, 0.5);

          > [data-items="beer"] > li {
            @include hover($bg-color: $brewery-odd-beer, $hover-bg: white);

            > h3 {
              color: $brewery-odd;
            }
            > .panel {
              color: $general-text;

              > .options {
                > li.hovered {
                  background-color: darken($brewery-odd-beer, 14%);
                }
                svg {
                  fill: $general-text;
                }
              }
            }
          }

          > .options > li.hovered {
            background-color: lighten($brewery-odd, 10%);
          }
        }
      }

      &:nth-child(even) {
        @include hover($brewery-even, 'saturate', 14%);

        &.collapsed > h2 {
          border: 1px solid rgba($brewery-even, 0.5);
        }
        &:not(.collapsed) > h2 {
          border-top: 1px solid rgba($brewery-even, 0.5);
          border-right: 1px solid rgba($brewery-even, 0.5);
          border-left: 1px solid rgba($brewery-even, 0.5);
        }

        > .panel {
          border-right: 1px solid rgba($brewery-even, 0.5);
          border-bottom: 1px solid rgba($brewery-even, 0.5);
          border-left: 1px solid rgba($brewery-even, 0.5);

          > ul[data-items="beer"] > li {
            @include hover($brewery-even-beer, 'darken');

            > h3, > .panel {
              color: $fg;

              > .options {
                > li.hovered {
                  background-color: lighten($brewery-even-beer, 10%);
                }

                svg {
                  fill: $fg;
                }
              }
            }
          }

          > .options > li.hovered {
            background-color: darken($brewery-even, 10%);
          }
        }
      }
    }

    &.add-one {
      > h2 {
        &.hovered > span:first-child {
          background-color: lighten($secondary, 10%);
        }
        &.hovered > span:nth-child(2) {
          background-color: lighten($tertiary, 10%);
        }

        > span {
          display: inline-block;
          vertical-align: top;

          &:first-child {
            background-color: $secondary;
            background-clip: padding-box;

            border-left: 1px solid rgba($secondary, 0.5);
            border-top: 1px solid rgba($secondary, 0.5);
            border-bottom: 1px solid rgba($secondary, 0.5);

            width: $brewery-width - 42px;
            padding: 8px 12px 10px;
          }
          &:nth-child(2) {
            background-color: $tertiary;
            background-clip: padding-box;

            border-right: 1px solid rgba($tertiary, 0.5);
            border-top: 1px solid rgba($tertiary, 0.5);
            border-bottom: 1px solid rgba($tertiary, 0.5);

            width: 42px;
            color: $secondary;
            font-size: $font-xl;
            text-align: center;
            line-height: 40px;
            height: 45px;
          }
        }
      }
    }
  }
}
