body, html {
  background-color: $bg;
  color: $general-text;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 600;
  @include res-aware-font-size('base');
}

html {
  height: 100%;
}

body {
  position: relative;
  z-index: -2;
  min-height: 100%;
}

.site-container {
  position: relative;
  margin: 0 auto;
  max-width: $site-width;

  @include res-aware-element-spacing(('padding-left', 'padding-right'), 'xl');
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body > .site-container {
  flex: 1;
}

h1, h2, h3 {
  font-weight: 700;
  text-transform: uppercase;
  z-index: 1;
}

a {
  color: $tertiary;
}

#bubble-layer {
  z-index: -1;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  .bubble {
    will-change: transform;
    position: absolute;
    border-radius: 50%;

    &.small { background-color: $bubble-color-sm; }
    &.medium { background-color: $bubble-color-med; }
    &.large { background-color: $bubble-color-lg; }
  }
}

.collapse-indicator {
  position: absolute;
  width: 0;
  height: 0;
  font-size: 0;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-style: solid;
  border-right: none;
  right: 12px;
}

h2 > .collapse-indicator {
  @include per-size('top', 9, 10, 10, 11, 11, px);
  @include per-size('border-width', 9, 9, 10, 10, 10, px);
}

h3 > .collapse-indicator {
  @include per-size('top', 10, 11, 10, 11, 11, px);
  @include per-size('border-width', 8, 8, 9, 9, 9, px);
}

//
// Buttons
//
button {
  position: relative;
  font-weight: bold;
  @include res-aware-font-size('med');
  border: 1px solid;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity $duration-fast;
  }

  &:not(:focus).hovered::after {
    opacity: 1;
  }

  @include res-aware-element-spacing(('padding-top', 'padding-bottom'), 'xs');
  @include res-aware-element-spacing(('padding-right', 'padding-left'), 'sm');

  &[data-action="submit"]
  , &[data-action="delete"] {
    background-color: $secondary;
    border-color: $secondary;
    color: $fg;

    &::after {
      box-shadow: 0 0 0 2px $fg, 0 0 10px 3px $secondary;
    }

    &:focus { box-shadow: 0 0 0 1px $fg, 0 0 10px 2px $secondary; }
  }
  &[data-action="cancel"]
  , &[data-action="ok"] {

    background-color: $fg;
    border-color: $general-text;

    &::after {
      box-shadow: 0 0 12px 1px $secondary;
    }

    &:focus { box-shadow: 0 0 10px 1px $secondary; }
  }
}

button
, input
, textarea
, select {

  outline: none;
}


.columns {
  @include cf();
}
