@mixin per-size($prop-list, $xxs, $xs, $sm, $md, $lg, $unit: null) {
  @media (max-width: $screen-xxs-max) {
    @each $prop in $prop-list {
      #{$prop}: #{$xxs}#{$unit};
    }
  }
  @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
    @each $prop in $prop-list {
      #{$prop}: #{$xs}#{$unit};
    }
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @each $prop in $prop-list {
      #{$prop}: #{$sm}#{$unit};
    }
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    @each $prop in $prop-list {
      #{$prop}: #{$md}#{$unit};
    }
  }
  @media (min-width: $screen-lg-min) {
    @each $prop in $prop-list {
      #{$prop}: #{$lg}#{$unit};
    }
  }
}

@mixin hover($bg-color, $fn: 'lighten', $amt: 10%, $hover-bg: null) {
  // Don't know why I have to initialize this variable, but sass errors
  //   if I don't
  @if not($hover-bg) {
    @if $fn == 'darken' {
      $hover-bg: darken($bg-color, $amt);
    } @else if $fn == 'saturate' {
      $hover-bg: saturate($bg-color, $amt);
    } @else {
      $hover-bg: lighten($bg-color, $amt);
    }
  }

  background-color: $bg-color;
  > h2 { background-color: $bg-color; }
  > h3 { background-color: $bg-color; }

  &.hovered {
    background-color: $hover-bg;
    > h2 { background-color: $hover-bg; }
    > h3 { background-color: $hover-bg; }
  }
}
