$site-width: 1190px;

// colors

$primary: #eb7639;
$secondary: #7c4f36;
$tertiary: #ffe0c7;
$error: #cc0000;

$bg: mix(white, $primary, 20%);
$bright-bg: white;
$fg: mix(white, $primary, 90%);
$brewery-dark: mix(black, $primary, 28%);
$brewery-light: mix(black, $primary, 8%);
$brewery-dark-beer: $tertiary;
$brewery-light-beer: darken($brewery-light, 10%);
$general-text: mix(black, $secondary, 50%);

// bubble colors
$bubble: mix($tertiary, $bg, 30%);
$bubble-color-sm: mix(black, $bubble, 3%);
$bubble-color-med: $bubble;
$bubble-color-lg: mix(white, $bubble, 3%);


// slightly modified from bootstrap

$screen-xs-min: 620px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: $site-width;

$screen-xxs-max: ($screen-xs-min - 1);
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);

// can't figure out why I need to interpolate 'px' in order to get it concatenating
//   with values properly (e.g. map-get(<some map>, <some key>)px results in
//   an invalid "<val> px" as opposed to "<val>px"
$px: px;


$duration-fast: 0.2s;
