<header>
  <h1>BeerKB</h1>
  <p>
    A sample beer knowledge base backed by
    {{ gm.link('sqlite-to-rest', 'https://github.com/olsonpm/sqlite-to-rest') }}
  </p>
  <p>
    Feel free to modify the data.
    <br>
    You can only do a day's worth of damage as it all gets reset at midnight
  </p>
</header>
