{% extends "input-fields/input" %}

{% block content %}
  <select id="{{ input.id }}" data-form>
    <option value="">--</option>
    {% for item in input.list %}
      <option {% if input.selected === item %}selected{% endif %}>
        {{ item }}
      </option>
    {% endfor %}
  </select>
{% endblock %}
