<h2>{{ title }}</h2>
<form novalidate>
  {% for input in inputFields -%}
    {% include input.tpl %}
  {%- endfor %}

  <button data-action="submit">
    Submit
  </button>
  <button data-action="cancel" type="button">
    Cancel
  </button>
</form>
